language = "c"
run = "gcc -o labrabota2-1 src/main.c && ./labrabota2-1 10"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota2-1 src/main.c && ./labrabota2-1 10"]

[nix]
channel = "stable-24_05"
